@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
html{
  margin: 0;
  height: 100%;
}
body {
  background-color: rgb(52,155,219);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  font-family: "DM Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Container {
  background-color: rgb(245,247,250);
  border: solid 1px;
  border-right: none;
  border-color: white;
  border-radius: 20px 0px 0px 20px;
  height: 600px;
  width: 700px;

  box-shadow: 10px 10px 15px rgb(42, 98, 162);

  display: flex;
  flex-direction: column;
  columns: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#imageContainer {
  border-radius: 0px 20px 20px 0px;
  border-left: none;
  border-right: solid 1px;
  border-color: white;
  box-shadow: 10px 10px 15px rgb(42, 98, 162);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: solid 1px;
  border-radius: 40px;
  height: 40px;
  width: 250px;
  margin-top: 5px;
  cursor: pointer;
  font-family: "DM Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

::placeholder {
  text-align: left;
}

#loginContainer {
  visibility: hidden;
  position: absolute;
  
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 10px 10px 15px rgb(42, 98, 162);
}

#loginContainer.visible {
  visibility: visible;
  opacity: 1;
}

#registerContainer {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 10px 10px 15px rgb(42, 98, 162);
}

#registerContainer.visible {
  visibility: visible;
  opacity: 1;
}

#loginBtn,
#registerBtn {
  background-color:  rgb(52,155,219);
  color: white;
}

#loginBtn:hover,
#registerBtn:hover {
  background-color: #2980b9;
  
  transition-duration: 400ms;
}

#log,
#reg {
  background-color:  rgb(52,155,219);
  color: white;
}

#log:hover,
#reg:hover {
  background-color:  #2980b9;
  
  transition-duration: 400ms;
}

.main-logo {
  width: 400px;
  height: auto;
  margin-bottom: 30px;
}

#googleSignUp,
#googleRegister {
  background-color: rgb(235, 235, 235);
}

#signup-email,
#signup-password,
#login-username,
#login-password,
#signup-name {
  padding-left: 10px;
  padding-right: 10px;
  cursor: auto;
  border-color: #e0e0e0;
}

#signup-name {
  margin-bottom: 25px;
}
